
<main class="container">
  <div class="row">
    <h1 class="col s12 center">COMING SOON</h1>
    <div class="col s12 center responsive-image">

      <img class="responsive-img" src="<%= image_url("soon.svg") %>">
    </div>
  </div>

</main>